<div class="contents">
    <div class="content">
      <ul class="upper-part clearfix">
          <li class="title">Title：<span><%= blog.title %><span></li>
          <%if current_user == blog.user %>
            <li class="edit">
              <%= link_to edit_blog_path(blog) do %>
                <i class="fas fa-user-edit fa-lg"></i>
              <% end %>
            </li>
            <li class="delete">
              <%=link_to "/blogs/#{blog.id}", method: :delete do %>
                <i class="fas fa-trash fa-lg"></i>
            <% end %>
            </li>
          <% end %>
      </ul>
      <h6 class="name"> Written by :<%= blog.user.name %> </h6>
      <div class="text">
        <%= markdown(blog.text)%>
      </div>
    </div>
</div>
