<!DOCTYPE html>
<html>
<head>
  <title>BlogApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script language="JavaScript">
$(document).ready( function () {
   $("a[href^='http']:not([href*='" + location.hostname + "'])").attr('target', '_blank');
})
</script>
  <%= csrf_meta_tags %>
</head>
<body>



<header>
<nav>
    <div class="nav-wrapper">
      <%= link_to "/" do %>
        <i class="fas fa-apple-alt fa-3x"></i>
      <% end %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%if current_user %>
          <li>
            <%= link_to user_path(current_user) do %>
              <button type="button" class="btn btn-outline-primary"><%=current_user.name%></button>
            <% end %>
          </li>
          <li>
            <a class="btn btn-floating btn-large cyan pulse" href="/blogs/new"><i class="material-icons">投稿</i></a>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <button type="button" class="btn btn btn-outline-primary">ログアウト</button>
            <% end %>
          </li>
        <% else %>
          <li>
            <a class="btn btn btn-outline-primary" href="/users/sign_in">ログイン</a>
          </li>
          <li>
            <a class="btn btn btn-outline-primary" href="/users/sign_up">新規登録</a>
          </li>
        <% end %>
          <li><a class="btn btn btn-outline-primary" href="/blogs">みんなの投稿</a></li>

      </ul>
    </div>
  </nav>


</header>

<%= yield %>

</body>
</html>
